clients/bo/node_modules/*

# yarn error logs
clients/bo/yarn-error.log

# Environment varibales
clients/bo/.env*
clients/bo/!.env*.example

# Code coverage
clients/bo/coverage

# Readme boilerplate
./clients/bo/README.md