<div class="row">
	<div class="col-12 py-5">
		<h4>Liste des voitures disponibles</h4>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="grid">
			<form action="/app/booking/create/step3" method="post">
				<!-- Etape n°1 -->
				<p class="grid-header">Etape n°2</p>
				<div class="grid-body">
					<div class="item-wrapper">
						<div class="row mb-3">
							<div class="col-md-12 mx-auto">
								<!-- Etape n°2 -->
								<div class="row showcase_row_area">
									<div class="offset-3 col-6">
										<a href="/app/booking/create/step3" class="btn btn-block btn-primary">Valider votre
											choix</a>
									</div>
								</div>
								<!-- Fin Etape n°2 -->
							</div>
						</div>
					</div>
				</div>
				<!-- Fin Etape n°1 -->
			</form>
		</div>
	</div>
</div>
