<div class="row">
	<div class="col-12 py-5">
		<h4>Paiement</h4>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="grid">
			<form action="/app/booking/create/step3" method="post">
				<p class="grid-header">Etape n°4</p>
				<div class="grid-body">
					<div class="item-wrapper">
						<div class="row mb-3">
							<div class="col-md-12 mx-auto">
								<!-- Etape n°4 -->
								<div class="row showcase_row_area">
									<div class="offset-3 col-6">
										<a href="/app/booking/store" class="btn btn-block btn-primary">Sauvegarder la
											réservation</a>
									</div>
								</div>
								<!-- Fin Etape n°4 -->
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
